:root {
    --bg-background: hsl(268, 75%, 9%);
    --switch-bg: hsl(268, 71%, 12%);
    --display-bg: hsl(268, 71%, 12%);
    --keypad-bg: hsl(268, 71%, 12%);
    --keys-bg: hsl(268, 47%, 21%);
    --key-color: hsl(52, 100%, 62%);
    --key-active: #6b34ac;
    --reset-del-bg: hsl(281, 89%, 26%);
    --reset-del-active: #8631b0;
    --equal-bg: hsl(176, 100%, 44%);
    --equal-active: #94fff9;
}

body {
    background-color: var(--bg-background);
}

.flex-notes {
    color: var(--key-color);
}

.flex .container {
    background-color: var(--switch-bg);
}

.container>* {
    background-color: var(--equal-bg);
}

.buttons>* {
    color: var(--key-color);
}

.display {
    background-color: var(--display-bg);
    color: var(--key-color);
}

.display .previous-operand {
    color: #c9b203;
}

.grid__container {
    background-color: var(--keypad-bg);
}

.grid__container>* {
    background-color: var(--keys-bg);
    box-shadow: 0px 4px 0px #831e9b;
    color: var(--key-color);

    &:active {
        background-color: var(--key-active);
    }
}

.reset {
    background-color: var(--reset-del-bg);
    color: #ffffff;
    box-shadow: 0px 4px 0px #bd18f2;

    &:active {
        background-color: var(--reset-del-active);
    }
}

.deleteBtn {
    background-color: var(--reset-del-bg);
    color: #ffffff;
    box-shadow: 0px 4px 0px #bd18f2;

    &:active {
        background-color: var(--reset-del-active);
    }
}

.equal {
    background-color: var(--equal-bg);
    color: var(--keys-bg);
    box-shadow: 0px 4px 0px #6dfef5;

    &:active {
        background-color: var(--equal-active);
    }
}

.attribution {
    color: var(--key-color);
    opacity: 0.7;
}

.attribution a {
    font-weight: 500;
    color: var(--equal-bg);
    opacity: 0.7;
    transition: opacity 250ms ease;

    &:hover {
        opacity: 1;
    }
}
